
<!-- <blockquote>
  <p>Do the difficult things while they are easy and do the great things while they are small.</p>
  <p>A journey of a thousand miles must begin with a single step.</p>
  <cite>Lao Tzu</cite>
</blockquote> -->

<section
  class="main"
  (mousemove)="positionNav($event)"
  (mousedown)="startNavTrigger($event)"
  (mouseup)="stopNavTrigger($event)">

  <nav
    class="trigger"
    [@navState]="navigationState"
    [ngStyle]="{ 'top': navPosition.y, 'left': navPosition.x }">

    <!-- <div [@navState]="navigationTimerState"></div> -->
  </nav>

  <app-brand></app-brand>

  <!-- <nav>
    <a href="#" id="sun">Sun</a>
    <a href="#" id="moon">Moon</a>
  </nav> -->

  <!-- <div class="missile one"></div>
  <div class="missile two"></div>
  <div class="missile three"></div> -->

  <!-- <div class="missile four"></div> -->
</section>
