<h1 id="brand">
  {{title}}

  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 158 97" style="enable-background:new 0 0 158 97;" xml:space="preserve">
    <style type="text/css">
      .st0{fill:#D35628;}
      .st1{fill:#E77E24;}
      .st2{fill:#61E0BF;}
      .st3{fill:#5BC3AC;}
      .st4{fill:#1AB99B;}
      .st5{fill:#149B8A;}
      .st6{fill:#0D8271;}
      .st7{fill:#1C87A0;}
      .st8{fill:#45A5B5;}
      .st9{fill:#43B3BF;}
      .st10{fill:#17BECE;}
      .st11{fill:#90D3CD;}
    </style>
    <polygon id="OrangeTwo" class="st0" points="98.1,64.8 59.1,64.8 78.6,96.8 "/>
    <polygon id="OrangeOne" class="st1" points="59.1,64.8 98.1,64.8 78.6,32.8 "/>
    <polygon id="GreenFive" class="st2" points="0.6,96.8 39.6,96.8 20.1,64.8 "/>
    <polygon id="GreenFour" class="st3" points="59.1,64.8 20.1,64.8 39.6,96.8 "/>
    <polygon id="GreenThree" class="st4" points="20.1,64.8 59.1,64.8 39.6,32.8 "/>
    <polygon id="GreenTwo" class="st5" points="78.6,32.8 39.6,32.8 59.1,64.8 "/>
    <polygon id="GreenOne" class="st6" points="39.6,32.8 78.6,32.8 59.1,0.8 "/>
    <polygon id="BlueFive_1_" class="st7" points="156.6,96.8 117.6,96.8 137.1,64.8 "/>
    <polygon id="BlueFour" class="st8" points="98.1,64.8 137.1,64.8 117.6,96.8 "/>
    <polygon id="BlueThree_1_" class="st9" points="137.1,64.8 98.1,64.8 117.6,32.8 "/>
    <polygon id="BlueTwo" class="st10" points="78.6,32.8 117.6,32.8 98.1,64.8 "/>
    <polygon id="BlueOne" class="st11" points="117.6,32.8 78.6,32.8 98.1,0.8 "/>
  </svg>

</h1>
